#questionsPage {
  display: none;
}
#resultsButton{
  display: none;
}
#finishButton {
  display: none;
}
#resultsPage {
  display: none;
}
#csharpPage{
  display: none;
}
#rubyPage{
  display: none;
}
#javascriptPage{
  display: none;
}